/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0d0d; /* Deep matte black */
}

/* MAIN CARD */
.container {
  background: #1a1a1a; /* Dark grey */
  padding: 45px 35px;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  border: 1px solid #2a2a2a;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  text-align: center;
}

/* TITLE */
.header {
  font-size: 2.5rem;
  color: #eaeaea;
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-weight: 600;
}

/* INPUT GRID */
.box-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 15px;
  margin-bottom: 30px;
}

/* INPUT BOX */
.input-box {
  padding: 13px;
  background: #2b2b2b;
  border: 1px solid #3c3c3c;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

.input-box:focus {
  background: #3f3f3f;
  border-color: #00aaff;
  box-shadow: 0 0 12px rgba(0, 170, 255, 0.5);
  transform: scale(1.06);
}

/* HIGHLIGHT (Max / Min Input) */
.highlight {
  background: #005f99;
  color: #fff;
  font-weight: 600;
  border: 1px solid #0088cc;
  transform: scale(1.12);
}

/* BUTTON BOX */
.btn-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* BUTTON STYLE */
.btn-style {
  padding: 12px 26px;
  border-radius: 35px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;

  background: #262626;        /* Dark Button */
  color: #eaeaea;
  border: 1px solid #333;
  transition: 0.3s ease;
}

/* HOVER COLOR CHANGED */
.btn-style:hover {
  background: #0066cc;        /* Blue hover */
  color: white;
  border-color: #008cff;
  transform: translateY(-3px);
  box-shadow: 0 0 12px rgba(0, 128, 255, 0.4);
}

/* ACTIVE */
.btn-style:active {
  transform: scale(0.95);
}

/* RESULT */
#result {
  margin-top: 20px;
  color: #00aaff;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

/* REMOVE NUMBER ARROWS */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
